<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kciceblue.sshserver</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{BINARY}}</string>
    <string>serve</string>
    <string>--state-dir</string>
    <string>{{STATE_DIR}}</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>2</integer>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>{{STDOUT}}</string>
  <key>StandardErrorPath</key>
  <string>{{STDERR}}</string>
</dict>
</plist>
